[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target unclutter.service

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=KIOSK_URL=${KIOSK_URL}
Type=simple
ExecStartPre=/home/pi/kiosk.sh
ExecStart=/usr/bin/chromium-browser --noerrdialogs --disable-infobars --kiosk $KIOSK_URL
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target
